pre.prettyprint {
	width: 600px;
	overflow: auto;
}
pre.prettyprint > code {
	width: initial;
	word-wrap: normal;
	white-space: pre;
}
q {
    background-color: rgba(102,128,153,0.2)
}
.post-title {
    font-size: 3rem !important;
}
.post-outer {
	margin-bottom: 50px;
    border-bottom: 1px solid black;
}
.body-fauxcolumns {
	background: #66bbdd none repeat scroll top left;
}
.preTable + table {
   border: 1px solid grey;
}
.preTable + table tr:nth-child(even) {
   background: white;
}
.tinyHeader {
    line-height: 1;
    margin:0;
}
.vbColor {
    color: #20124d;
}
.csColor {
    color:#274e13;
}
.black-color {
    color: black;
}
.highlight {
    font-weight:900;
    background: rgb(255, 255, 52);
}
#preview-contents img,
.post-outer img {
    padding: 4px;
    background: #ffffff;
    border: 1px solid #eeeeee;
    -webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, .25);
       -moz-box-shadow: 1px 1px 5px rgba(50, 50, 50, .25);
            box-shadow: 1px 1px 5px rgba(50, 50, 50, .25);
}