pre.prettyprint {
	width: 600px;
	overflow: auto;
	max-height: 600px;
}
pre.prettyprint > code {
	width: initial;
	overflow-wrap: normal;
	white-space: pre;
}

body {
    background: #073763;
}
.post-title {
    font-size: 3rem;
}
.post-outer {
    border-bottom: 1px solid black;
}