pre.prettyprint {
	width: 600px;
	overflow: auto;
	max-height: 600px;
}
pre.prettyprint > code {
	width: initial;
	overflow-wrap: normal;
	white-space: pre;
}
.post-title {
    font-size: 3rem !important;
}
.post-outer {
    border-bottom: 1px solid black;
}